
<html>
<head>

    <title>Big Ugly Error</title>
    <script src="https://s3.amazonaws.com/STATIC_REPLACE/js/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/STATIC_REPLACE/css/bootstrap.min.css">
    <link href="https://s3.amazonaws.com/STATIC_REPLACE/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/STATIC_REPLACE/css/custom.css">
    <script src="https://s3.amazonaws.com/STATIC_REPLACE/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="https://s3.amazonaws.com/STATIC_REPLACE/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Le styles -->


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  -->
    
    

</head>


<body>

<div class="container-narrow">
  <div class="row-fluid">
    <div class="span12">
      <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>        
      </ul>
      <h3><img src="https://s3.amazonaws.com/STATIC_REPLACE/img/logo.png" /></h3>
    </div>
  </div>
  <hr>
  
<div class="row">
    <div class="span8">
        <h1>Big Ugly Error</h1>

        <p>Something went wrong. Don't worry! We'll fix it right away!</p>

    </div>
</div>    

  <hr>
  <div class="footer">
    <p>&copy; <a href="http://www.cartwheelweb.com">Cartwheel Web</a> 2012</p>
  </div>

</div> <!-- /container -->


<div class="container-fluid">

    

</div>






</body>
</html>
