{% extends "base.html" %}


{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>Password Reset</h1>

        <p>Within <strong>5 minutes</strong> you'll be recieving an email with a password reset link. Do the following:</p>
        <ul>
            <li>In 5 minutes, check your inbox for our email.</li>
            <li><strong>If you can't find the reset password email, check your spam folder.</strong></li>
            <li>Click the password reset link.</li>
        </ul>
    </div>
 </div>
{% endblock %}