{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock  %}


{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2>Password Reset</h2>
    </div>
</div>
<div class="row">
    <div class="span6">
        <form class='form-stacked well' action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Reset</button>
          </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block extrajs %}
<script>
    $(document).ready(function(){
        $("#id_email").focus();
    });
</script>
{% endblock extrajs %}